video{
    position: fixed;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
z-index: -1;
background-size: cover;;
}
div.Logo{
    text-align: center ;  
  }
  div h1{
      width: 24%;
      float: left;
      background-color: orange;
      border: black 0.25px solid;
  }
  h1 a{
    text-decoration: none;
    color: black
    ;
  }
  a:hover{
   text-decoration: underline;
  }
  p{
  font-size: 30px;
  }
  td{
    font-size: 30px;
  }
  td a:hover{
    color: blueviolet;
   }
   td a{
    color: blue;
   }
@media screen and (max-width:800px){
    flex-direction: column;
    justify-content: space-evely;
}
    
